{% extends '../base.html' %}
{% load static %}
{% block title %}
        Register
{% endblock %}
{% block cssRefs %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/register.css' %}">
{% endblock %}
{% block content %}
<div class="login_box">
  <div class="logo">
      <img src="{% static 'img/logo.png' %}">
  </div>
  <form method="post">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% if field.help_text %}
          <small style="color: grey">{{ field.help_text }}</small>
        {% endif %}
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <button class="LoginButton" type="submit">Sign up</button>
  </form>
</div>
{% endblock %}