html,body{
  height: 100%;
  background: transparent linear-gradient(180deg, #A1CBA3 0%, #E3FFA2 100%) 0% 0% no-repeat padding-box;
}

.mainBlock{
    display: block;
    flex-direction: row;
    justify-content: center;
    height: inherit;
    align-items: center;

}