{% extends 'base_with_navbar.html' %}
{% load static %}
{% block title %}
        MainPage
{% endblock %}
{% block cssRefs %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/Contact.css' %}">
{% endblock %}
{% block content %}
<p1>Administracja:</p1>
    <p2><br>Artur Hałat<br>email.@.gmail.com<br>999 999 999 <br><br><br>Tomasz Kacza<br>email.@.gmail.com<br>999 999 999<br><br><br>Tomasz Kacza<br>email.@.gmail.com<br>999 999 999</p2>
<form method="post" class="messageform">{% csrf_token %}
{{ form.as_p }}
<button type="submit" class="button_message">Wyślij</button>
</form>
<div class="yourMessagescalss">
    {{ sprawdzenie }}
    {% for m in yourmessages %} 1 {% endfor %}
</div>
{% endblock %}