{% extends 'base_with_navbar.html' %}


{% load static %}
{% block title %}
    MainPage
{% endblock %}
{% block cssRefs %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/MainPanel.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/plants.css' %}">
{% endblock %}
{% block content %}

    <div class="plant_box">
        {% for i in user_plants %}
            <div class="plant">
                <div>{{ i.name }}</div>
                <img src="{% static 'img/plants/'|add:i.image_name %}">
                <div>{{ i.description }}</div>
            </div>
        {% endfor %}
        <form method="post" action="add_plant_to_garden">        {% csrf_token %}

            <select   name="plant" required>
                <option value="">Wybierz Roślinę</option>
                {% for i in base_plants %}
                    <option  value='{{ i }}'>{{ i }}</option>
                {% endfor %}
            </select>

            <input type="submit" value="Select">


        </form>
    </div>
{% endblock %}